<div class="cont">
<h2>ATMEGA32A-PU</h2>
<p>8-Bit AVR core, Embedded Microcontroller 32KB (16K x 16) FLASH</p><hr>
<span>Price:</span>
<h5>{{price |currency:'INR'}}(inc GST)</h5>
<img  src="../../assets/images/e1.jpg" height="400" width="400">
<h4>Features:</h4>
<div class="mh">
<p appEleras>1) High Performance, Low Power 8 bit CMOS Microcontroller<br>
    2) Advanced RISC Architecture<br>
    3) JTAG Interface<br>
    4) Two 8-bit Timer/Counters with Separate Prescalers and Compare Modes<br>
    
    5) 8-channel, 10-bit ADC<br>
    6) Power-on Reset and Programmable Brown-out Detection<br>
   
   
</div>
</div>