h5{
    color: rgb(233, 78, 22);
}
.cont{
    margin-right: 300px;
}
.mh{
    font-size: x-large;
    font-family: sans-serif;
}
p{
    color: rgb(11, 11, 88);
    font-size: medium;
    font-weight: 400;
}