
<div class="row">
    <div class="col-md-8">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="../../assets/images/e1.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Arduino</h5>
                <strong class="card-text">ATMEGA32A-PU <br>Price: ₹482.25 (inc GST)<br>
                    Payment Method</strong><br>

                <a routerLink="arduino" class="btn btn-primary">Visit</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="../../assets/images/e2.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Microchip</h5>
              
                <strong class="card-text">ATMEGA32A-PU <br>Price: ₹482.25 (inc GST)<br>
                    Payment Method</strong><br>
                <a routerLink="microchip" class="btn btn-primary">Visit</a>
            </div>
        </div><br>
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="../../assets/images/e3.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">RasberryPi</h5>
               
                <strong class="card-text">ATMEGA32A-PU <br>Price: ₹482.25 (inc GST)<br>
                    Payment Method</strong><br>
                <a routerLink="rasberrypi" class="btn btn-primary">Visit</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="../../assets/images/e4.jpeg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Buzzer</h5>
               
                <strong class="card-text">ATMEGA32A-PU <br>Price: ₹482.25 (inc GST)<br>
                    Payment Method</strong><br>
                <a routerLink="buzzer" class="btn btn-primary">Visit</a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <router-outlet></router-outlet>
    </div>
</div>