<div class="container">
    <div class=".row justify content center">
        <div class=".co-md-6 text-left rounded shadow py-5">
            <form [formGroup]="myReactiveForm" (ngSubmit)="OnSubmit()">
                <input type="text" name="" id="" placeholder="Enter Name" formControlName="username"
                    placeholder="Enter Name">
                <input type="text" name="" id="" formControlName='email' placeholder="Enter Email"><br>
                <button class="btn btn-success">Submit</button>
            </form>
        </div>
    </div>


</div>