<p>servicecomp1 works!</p>

<!-- <button (click)="OnSubscribe()"> Subscribe </button> -->

<ng-container *ngFor="let product of productss">
Product ID: <strong class="text-success">{{product.id}} </strong>
Product Name: <strong class="text-success">{{product.name}} </strong>
<br>
</ng-container>

<div>
<table class="table table-bordered table-dark table-hover">
    <thead>
        <tr>
            <th> ID</th>
            <th>  Name</th>
            <th> User Name</th>
            <th> Email</th>
            <th> Address</th>
            <th> Company </th>
            <th> Website </th>
        </tr>
    </thead>
<tbody>
<tr *ngFor="let data of apiData">
    <td> {{data.id}}</td>
    <td> {{data.name}}</td>
    <td> {{data.username}}</td>
    <td> {{data.email}}</td>
    <td> {{data.address.city}}</td>
    <td> {{data.company.name}}</td>
    <td> {{data.website}}</td>
</tr>
</tbody>
</table>
</div>
