

<!--<app-databinding></app-databinding>-->
<br>
<!--<app-addremove></app-addremove>-->

<!--<h4 class="hii">@Input Decorator Print Bank name, ID,Location</h4> 
<div *ngFor="let e of  Bank">
<app-demo [bank]="e"></app-demo>
</div>-->

<!--<div  class="emp" >

<app-attri></app-attri><hr>
<div style="text-align:center">
  <h1>
    <app-ngif-for-switch></app-ngif-for-switch><hr>
   
    <app-ngswitch></app-ngswitch><hr>
  </h1>
  <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">

 <hr>
<app-warning></app-warning>
<app-success></app-success><br><br><hr>
<app-servers></app-servers><hr>
</body>
<button type="button" class="btn btn-primary">Primary</button><br><br><hr>-->


<!--<app-attri></app-attri>

<div class="new">
<app-demo (newItemEvent)="addItem($event)"></app-demo>
<ul>
  <li *ngFor="let i of item">
   <b> {{i}}</b>
  </li>
</ul>
</div>
<app-servers></app-servers>
<div class="uid">
<select (change)="uid = sid.value" #sid>
<option selected disabled> no value select</option>
<option  [value]="id" *ngFor="let id of [1,2,3,4]"></option>
{{id}}
</select>
<app-hooks [userid]="uid">
  <h1 #child>This is Child content comming from Parent</h1>
</app-hooks>
</div>
<app-dirassign></app-dirassign>
<select (change)="uid=sid.value" #sid>
<option selected disabled>no value selected</option>
<option [value]="" *ngFor="let id of [1,2,3,4]"></option>
{{id}}
</select>
<app-hook-practise [userId]="uid">
  <h1 #child>this is child conteent coming from parent component</h1>
</app-hook-practise>
<router-outlet></router-outlet>-->
<!--<app-simpletemplateform></app-simpletemplateform>-->
<!--<app-parent></app-parent>-->
<!--<app-form-ass></app-form-ass>-->
<!--<app-practise></app-practise>-->
<!--<app-databinding></app-databinding>-->
<!--<app-p-hooklife [value]="name"></app-p-hooklife>-->

<!--<app-tform-assignment></app-tform-assignment>-->
<!--<app-rformvalidation></app-rformvalidation>>-->
<!--<app-reactiveform></app-reactiveform>-->
<!--<app-s-form></app-s-form>-->
<!--<app-rformvalidation></app-rformvalidation>-->
<!--<app-s-form></app-s-form>-->
<!--<div class="container">
<app-rformvalidation></app-rformvalidation>
</div>-->
<!--<app-reactiveform></app-reactiveform>-->
<!--<app-simpletemplateform></app-simpletemplateform>-->
<!--<app-tform-assignment></app-tform-assignment>-->

<div class="container">
  <app-s-form></app-s-form>
</div>
<!--<div class="container">
  <app-rformvalidation></app-rformvalidation>
</div>-->
<!--<div class="conainer">
  <app-reactiveform></app-reactiveform>
</div>-->