<div class="dive">
<div [ngStyle]="{'color':colorVal , 'background-color':'#ddd'}">
    Learning Angular *
</div>
<h4>Ng Class</h4>

<ul *ngFor="let person of people">
    <li [ngClass]="{
        'text-success': person.country === 'UK',
        'text-primary': person.country === 'USA',
        'text-danger': person.country === 'HK'  }">
 
     {{person.name}} ({{person.country}})
    </li>
</ul>
</div>
<h3>Normal Para</h3>
<div>
<h2 appCustdir>custome para</h2>
<div style="margin-left: 400px;">
<input type="text" name="" id="" #username >
<button (click)="show(username.value)">Show</button>
</div>

<div>
    {{uname}}
</div>
</div>